* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 1200px;
}

.container {
    padding: 20px;
}

.spoiller {
    border: 2px solid aquamarine;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}


.spoiller_header {
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.toggle {
    display: none;
}

.accordion .ui-accordion-header {
    margin: 0 0 10px 0;
    padding: 20px;
    background: aquamarine;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}

.accordion .ui-accordion-content {
    margin: 0 0 10px 0;
    padding: 10px;
    background: #fff;
}

.to_top {
    position: fixed;
    bottom: 45px;
    right: 45px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    display: none;
    background-color: aquamarine;
}

.to_top::after {
    content: '↑';
    margin-left: 10px;
    color: black
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: rgb(185, 185, 185)
}

.col {
    text-align: center;
    margin-top: 30px;
    border: 3px solid aquamarine;
    margin: 10px;
    border-radius: 4px;
    padding: 10px;
}

.counter {
    margin: 20px 0;
}

.fa {
    margin-top: 10px;
    color: rgb(148, 148, 148);
}

.notice {
    margin-top: 20px;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 4px;
}

.hide_cookie {
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 4px;
}

.articles {
    margin-top: 20px;
}

.article {
    display: none;
    opacity: 0;
    overflow: hidden;
}

.active {
    opacity: 1;
    display: block;
}

.active h3 {
    color: red;
}

.next {
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 4px;
}

.prev {
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 4px;
}

.article_text {
    color: darkgrey;
}

.symbols{
    display: block;
    margin-bottom: 10px;
}